<div class="container-fluid hero" style="background-color: aqua">
  <div class="navbar navbar-expand-sm  justify-content-between">
    <a class="navbar-brand">Dinner4u</a>
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="" class="nav-link" (click)="openAuth($event,true)">Login</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" (click)="openAuth($event)">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="hero-content mx-auto text-center">
      <h3>Lorem ipsum dolor sit.</h3>
      <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, eius!</h5>
      <div class="search-content">
        <div class="input-group">
          <input type="text" class="form-control">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
          </div>
        </div>

      </div>
      <small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, at.</small>
    </div>
  </div>
</div>
