.modal {
  background-color: rgba(8, 25, 43, 0.85);
}
.modal-content {
  max-width: 460px;
}
.modal-header {
  position: relative;
}
.modal-body {
  padding: 40px;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  opacity: 1;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  font-size: 0.8rem;
}

.nav-item {
  cursor: default;
  font-weight: bold;
  color: #5f7d95;
  box-shadow: inset 0 0 30px rgba(34, 34, 34, 0.25);
  background-color: rgba(248, 250, 251, 0.5);
  &.selected {
    background-color: white;
    color: black;
    box-shadow: none;
  }
}
