<div class="group-tabs">
  <div class="nav nav-fill nav-pill" *ngIf="tabs">
    <li class="nav-item py-3" [ngClass]="{'selected': tab.selected}" *ngFor="let tab of tabs" (click)="selectTab(tab)">
      {{tab.title}}</li>
    <button type="button" class="close" (click)="closeModal()">
      <i class="fa fa-times fa-fw"></i>
    </button>
  </div>
  <div class="modal-body">
    <tab title="Đăng nhập">
      <login></login>
    </tab>
    <tab title="Đăng ký">
      <register></register>
    </tab>
  </div>
</div>
