<div class="modal fade show" style="display: block">
  <div class="modal-dialog">
    <div class="modal-content group-tabs">
      <div class="nav nav-fill nav-pill" *ngIf="tabs">
        <li class="nav-item py-3" [ngClass]="{'selected': tab.selected}" *ngFor="let tab of tabs"
          (click)="selectTab(tab)">
          {{tab.title}}</li>
        <button type="button" class="close">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <tab title="Đăng nhập">
          <form class="form-group">
            <div class="form-group">
              <bs-icon-input icon="user">
                <input type="text" class="form-control" placeholder="Email">
              </bs-icon-input>
            </div>
            <div class="form-group">
              <bs-icon-input icon="lock">
                <input type="text" class="form-control" placeholder="Password">
              </bs-icon-input>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1"><small>Tự động đăng nhập</small></label>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block">Đăng nhập</button>
            </div>
            <small class="form-text text-muted"><strong>Quên mật khẩu?</strong></small>
          </form>
        </tab>
        <tab title="Đăng ký">
          <form class="form-group">
            <div class="form-group">
              <bs-icon-input icon="user">
                <input type="text" class="form-control" placeholder="Username">
              </bs-icon-input>
            </div>
            <div class="form-group">
              <bs-icon-input icon="user">
                <input type="text" class="form-control" placeholder="Email">
              </bs-icon-input>
            </div>
            <div class="form-group">
              <bs-icon-input icon="lock">
                <input type="text" class="form-control" placeholder="Password">
              </bs-icon-input>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block">Đăng ký</button>
            </div>
          </form>
        </tab>
      </div>
    </div>

  </div>
</div>
