<div class="modal fade show" style="display: block">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <bs-icon-input icon="user-o">
            <input type="text" class="form-control">
          </bs-icon-input>
          <bs-icon-input icon="lock-o">
            <input type="text" class="form-control">
          </bs-icon-input>
        </form>
      </div>
    </div>

  </div>
</div>
