/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: #eeeeee;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

icon-input {
  display: block;
  width: 100%;
  position: relative;
}

//Boostrap valiable
$border-color: #ced4da;

// Override Boostrap

// Input group
.input-group-text {
  background-color: transparent;
}
.form-control {
  &:focus {
    border-color: $border-color;
    box-shadow: unset;
  }
  &::placeholder {
    /* Firefox, Chrome, Opera */
    color: #d1d1d1;
  }
}
